.container {
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  // border: 1px solid lawngreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_container {
  height: 444px;
  width: 85%;
  display: flex;
  background-size: contain;
  //background-image: url('../../assets/b13.jpg');
  //background:
  //  linear-gradient(rgba(#f59e0b, 0.5), rgba(#f59e0b, 0.5)),
  //  url('../../assets/b13.jpg');
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //background-color: #f59e0b;
  margin-bottom: 20px;
}

.card {
  width: 98%;
  height: 434px;
  //background-color: #2a2a2a;
  //background-color: #464545;
  //opacity: 0.85;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.text_container {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  //font-size: 45px;
  //color: #f59e0b;
  flex: 1;
}

.labels_container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.label {
  flex: 1;
}
