.container {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-right: 10px;
  padding-left: 10px;

  input {
    width: 80%;
    height: 60%;
    // border: 1px solid green;
  }
}

.button {
  flex: 1;
  width: fit-content;
  height: 30px;
}
