.container {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
  border-top: 2px solid rgba(grey, 0.5);

  input {
    height: 30px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    padding-right: 5px;
    padding-left: 5px;
  }
}
.firstRow {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
}

.secondRow {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  // border: 1px solid hotpink;
}

.fontsContainer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // border: 1px solid hotpink;
}

.colorsContainer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // border: 1px solid hotpink;
}
.textsContainer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // border: 1px solid hotpink;
}

.button {
  all: unset;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
