.container {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.item {
  flex: 1;
  height: 100%;
  border: 1px solid green;
}
