.container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button {
  width: fit-content;
  height: 30px;
}
