.container {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  input {
    width: 30%;
    height: 50%;
  }
}

.label {
  font-size: 14px;
  color: grey;
}
