.container {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-right: 10px;
  padding-left: 10px;
  input {
    height: 30px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.button {
  all: unset;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
